/* Common definitions across the web application */

html {
    height: 100%;
}

body {
    height: 100%;
}

#page {
    height: 100%;
}

input[type *= "button"] {
    background: none repeat scroll 0 0 #B1B5EF;
    border: medium none;
    margin: 0.1em;
    padding: 0.2em;
}

input[type="text"].automatic {
    font-style: italic;
}

input[type *= "button"]:hover {
    cursor: pointer;
    background-color: red;
}

p {
    margin: 0.1em 0;
}
    p.errorMessage {
        display: none;
        color: red;
    }
        .status-error p.errorMessage {
            display: inherit;
        }
        .status-ok p.errorMessage {
            display: none;
        }

.boxy {
    display: none;
}

    /* Override the boxy defaults */
    .boxy-content {
        padding: 0.6em 1em;    
    }
    .boxy-wrapper .title-bar h2 {
        font-weight: bold;
        letter-spacing: 0.02em;
    }
    

.popup {
    max-width: 400px;
    font-size: 92%;
}

.popup p {
    margin-bottom: 0.6em;
}

    .popup ul.disclaimers {
        color: #555;
        font-size: 92%;
        font-style: italic;
        margin: 0;
        padding: 1em 0 0;
    }

        .popup ul.disclaimers > li {
            list-style: none;
        }
